@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f2f4fc;
  /* ESTE WIDTH Y MAREGENES HABRA QUE PONERLOS PARA CADA  SECCION NO EN EL BODY */
  /* max-width: 1100px;
    margin-right: auto;
    margin-left: auto; */
}

h1,
h2,
h3 {
  font-weight: bold;
}

/* HEADER-NAV SECTION */

header {
  margin-top: 70px;
}

.nav-container {
  height: 60px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo-circle {
  width: 60px;
  height: 18px;
  background-image: url(./project-assets/logos/circle.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
.web-links-list {
  list-style: none;
  display: flex;
}
#burger-menu {
  display: none;
}
.burger-menu {
  display: none;
}
.nav-web-links {
  display: inline-block;
  text-decoration: none;
  padding: 20px;
  color: #6b708d;
  font-size: 17px;
  font-weight: 500;
}

.btn-type {
  padding: 15px 30px;
  text-decoration: none;
  background-color: #072ac8;
  color: white;
}
/* .contact-btn{
    display: inline-block;
    cursor: pointer;
    line-height: inherit;
    border: 0;
} */

/* HERO SECTION */

.hero-section {
  padding: 100px 30px 0 30px;
}

.hero-container {
  max-width: 1100px;
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-imgs-container {
  max-width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-description-container {
  display: flex;
  flex-direction: column;
}

.hero-description-container div {
  text-align: left;
  font-size: 19px;
  color: #6b708d;
  line-height: 140%;
  margin-bottom: 10%;
}

h1 {
  display: block;
  font-size: 55px;
  color: #292e47;
  line-height: 130%;
}

.hero-img {
  width: 40vw;
}
.cards-img-paycard {
  max-width: 23vw;
  position: absolute;
  left: -20%;
  top: 0%;
}
.cards-img-thumb {
  max-width: 23vw;
  position: absolute;
  bottom: -25%;
  left: 65%;
}
.hero-link {
  color: #6b708d;
  text-decoration: none;
  font-weight: 500;
  font-size: 17px;
  margin-right: 15px;
}

/* LOGOS SECTION */

.logos-container {
  margin-top: 12%;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 30px;
  max-width: 1100px;
}

.logos-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* PROJECTS SECTION */

.projects-section {
  margin-top: 200px;
  padding: 0 30px;
}
.projects-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.project-imgs {
  max-width: 100%;
  height: 230px;
}
.project-img-especialita {
  max-width: 29vw;
  height: 230px;
  /* ACORDARSE DE VH PARA LAS ALTURAS */
}

.project-section-title {
  font-size: 40px;
  margin-bottom: 5%;
  margin-left: 3.5%;
  padding-left: 12px;
}
.project-box {
  display: flex;
  justify-content: space-evenly;
}

.project-minibox {
  background-color: white;
  padding-bottom: 1%;
  max-width: 27%;
}

.project-text {
  display: flex;
  flex-direction: column;
  margin: 0 20px 30px 15px;
  font-size: 17px;
  color: #292e47;
  font-weight: 400;
}

.project-title {
  margin: 30px 20px 20px 15px;
  color: #292e47;
  font-size: 24px;
  line-height: 115%;
  font-weight: 500;
}

.project-link {
  margin-left: 15px;
  text-decoration: none;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
}

/* TESTIMONIAL SECTION */

.testimonial-section {
  padding: 0 30px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  height: 622px;
  max-width: 1320px;
  background-color: #292e47;
  background-image: url(./project-assets/testimonial-section/orbit.png);
  background-position: center;
  background-size: contain;
}
.testimonial-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: relative;
}
.testimonial-title {
  color: #ecf7ff;
  font-size: 40px;
  text-align: center;
}
.testimonial-text {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
  color: #ffc600;
  font-size: 24px;
  line-height: 160%;
  font-weight: 500;
  text-align: center;
}
.profile-div {
  display: flex;
  align-items: center;
}
.profile-text {
  margin-left: 10px;
  padding-left: 10px;
}
.profile-name {
  color: #a2d6f9;
  font-size: 17px;
  margin-bottom: 0;
}
.profile-web {
  color: #ecf7ff;
  font-size: 13px;
  margin-top: 0;
}

.profile-photo {
  width: 50px;
  height: 50px;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./project-assets/testimonial-section/profile.png);
  border-radius: 50%;
}

#memoji-1 {
  width: 14%;
  position: absolute;
  left: -3%;
  top: -3%;
  margin-top: 5%;
  margin-left: 10%;
  z-index: 1;
}

#memoji-2 {
  width: 14%;
  position: absolute;
  right: -3%;
  bottom: -3%;
  margin-bottom: 5%;
  margin-right: 10%;
  z-index: 1;
}

#memoji-3 {
  width: 14%;
  position: absolute;
  left: -3%;
  bottom: -3%;
  margin-bottom: 5%;
  margin-left: 10%;
  z-index: 1;
}

#memoji-4 {
  width: 14%;
  position: absolute;
  right: -3%;
  top: -3%;
  margin-top: 5%;
  margin-right: 10%;
  z-index: 1;
}

/* SECTION SERVICES */

.section-services-container {
  margin-top: 200px;
  padding: 0 30px;
}

.services-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.services-main-title {
  font-size: 40px;
  color: #292e47;
  margin-bottom: 60px;
}

.services-box-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.services-minibox-container {
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial-link {
  margin-left: 15px;
  text-decoration: none;
  color: #072ac8;
  font-size: 17px;
  font-weight: 500;
}

.icon-img1 {
  background-image: url(./project-assets/services-section/icons/1.svg);
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ecf7ff;
}

.icon-img2 {
  background-image: url(./project-assets/services-section/icons/2.svg);
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ecf7ff;
}
.icon-img3 {
  background-image: url(./project-assets/services-section/icons/3.svg);
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-left: 25px;
  border-radius: 50%;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-color: #ecf7ff;
}

/* CAMBIAR STYLO TEXTOS BOXES */

/* SECCION CTA */

.cta-section-container {
  margin-top: 200px;
  width: 1320px;
  height: 500px;
  max-width: 1320px;
  margin-right: auto;
  margin-left: auto;
  background-color: #ffc600;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cta-container {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.cta-title {
  font-size: 40px;
  margin-top: 140px;
  line-height: 10px;
}

.cta-text {
  line-height: 0;
  margin-bottom: 60px;
  font-size: 16px;
  color: #6b708d;
}

.cta-suscribe-bar {
  margin-bottom: 110px;
  position: relative;
}
.email-bar-container {
  display: flex;
}

.btn-suscribe {
  height: 80px;
  margin-left: 20px;
  padding-left: 60px;
  padding-right: 60px;
  text-decoration: none;
  line-height: inherit;
  background-color: #072ac8;
  color: white;
  border: none;
  font-size: 17px;
  font-family: Roboto;
  cursor: pointer;
}
.email-bar {
  width: 393px;
  height: 80px;
  font-size: 18px;
  padding: 8px 12px 8px 70px;
  border: 1px solid #cccccc;
}
.icon-sobre {
  position: absolute;
  background-image: url(./project-assets/newsletter/icon/mail.svg);
  width: 30%;
  height: 30%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto;
  left: -7%;
  bottom: 39%;
}

/* FOOTER SECTION */

.footer-section {
  margin-top: 200px;
  padding: 0 30px 100px 30px;
}

.footer-container {
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  background-image: url(./project-assets/logos/circle.svg);
  width: 100px;
  height: 30px;
  margin-bottom: 30px;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer-adress {
  font-size: 17px;
  line-height: 150%;
  color: #6b708d;
}

.footer-links-container {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}

.footer-link {
  font-size: 17px;
  text-decoration: none;
}

/* ACORDARSE DEL PEQUEÑIN SI DA TIEMPO STICKY MADE IN WEBFLOW */

/* ------CONTACT US PAGE STYLE------ */
/* ------CONTACT US PAGE STYLE------ */
/* ------CONTACT US PAGE STYLE------ */

.contact-us-main {
  margin-top: 0px;
  padding: 0 30px;
}
.contact-us-container {
  margin-top: 200px;
  max-width: 1100px;
  margin-right: auto;
  margin-left: auto;
}

.contact-title {
  margin-top: 0px;
  margin-bottom: 80px;
  font-size: 60px;
  line-height: 110%;
}

.contact-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

.contact-name {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

.contact-mail {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

.contact-phone {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 3;
  grid-column-end: span 3;
}

.contact-message {
  grid-row-start: span 3;
  grid-row-end: span 3;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

.description-text {
  color: #6b708d;
  font-size: 20px;
  font-weight: 400;
}

.contact-bar {
  font-family: Roboto;
  width: 100%;
  height: 70px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333;
}

.contact-text-bar {
  font-family: Roboto;
  width: 100%;
  height: 200px;
  padding-left: 20px;
  border: 1px none #000;
  background-color: rgba(107, 112, 141, 0.1);
  font-size: 14px;
  margin-bottom: 10px;
  color: #333333;
}

#contact-submit-bar {
  grid-row-start: span 1;
  grid-row-end: span 1;
  grid-column-start: span 6;
  grid-column-end: span 6;
}

.contact-submit-btn {
  font-family: Roboto;
  padding: 15px 30px;
  height: 80px;
  text-decoration: none;
  background-color: #072ac8;
  color: white;
  font-size: 17px;
  border: none;
}

/* ------RECENT PROJECTS PAGE STYLE------ */
/* ------RECENT PROJECTS PAGE STYLE------ */
/* ------RECENT PROJECTS PAGE STYLE------ */

.main-2project-container {
  margin-top: 70px;
  padding: 0px 30px;
}

.project-web-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.project-main-img {
  width: 100%;
  height: 444px;
  object-fit: cover;
  margin-bottom: 40px;
}

#project-web-title {
  line-height: 0px;
}
.project-web-subtitle {
  color: #6b708d;
  font-size: 24px;
}
.date-brother-date {
  font-size: 20px;
}
.project-date {
  font-size: 20px;
  color: #6b708d;
}
.project-web-text {
  font-size: 20px;
  line-height: 30px;
}

.head-text-flex {
  display: flex;
  justify-content: space-between;
}
.flex-date-text {
  display: flex;
  align-items: center;
  align-content: center;
}

/* MEDIA QUERY MBL */
/* MEDIA QUERY MBL */
/* MEDIA QUERY MBL */
/* MEDIA QUERY MBL */
/* MEDIA QUERY MBL */

@media (max-width: 767px) {
  body {
    margin: 0;
    background-color: #f2f4fc;
  }

  header {
    margin: 0;
  }

  .hero-section {
    padding: 0 30px 0 30px;
  }
  .nav-container {
    height: 60px;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  /* HERO SECTION */

  .hero-container {
    max-width: none;
    display: flex;
    flex-direction: column;
  }

  .hero-title {
    font-size: 30px;
    text-align: center;
  }
  .hero-link {
    margin-right: 0;
  }

  .hero-description-container div {
    font-size: 17px;
    text-align: center;
  }

  .get-in-touch {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .btn-type {
    padding: 0;
    width: 50%;
  }
  .hero-img {
    width: 80vw;
  }

  /* LOGOS SECTION */

  .logos-container {
    padding: 0;
    margin-top: 18%;
  }

  .logos-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px 15px;
    row-gap: 80px;
    column-gap: 20px;
  }

  .cards-img-paycard {
    display: none;
  }
  .cards-img-thumb {
    display: none;
  }

  .poor-amazon {
    display: none;
  }

  /* PROJECTS SECTION */

  .project-box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .projects-section {
    margin-top: 60px;
  }

  .project-section-title {
    font-size: 30px;
    margin-bottom: 10%;
  }

  .project-minibox {
    max-width: none;
  }

  /* TESTIMONIAL SECTION */

  .testimonial-section {
    margin-top: 20%;
    height: 450px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .testimonial-title {
    font-size: 30px;
  }
  .testimonial-text {
    margin-top: 0;
  }

  #memoji-1 {
    display: none;
  }
  #memoji-2 {
    display: none;
  }
  #memoji-3 {
    display: none;
  }
  #memoji-4 {
    display: none;
  }

  /* SERVICES SECTION */
  .section-services-container {
    margin-top: 13%;
  }
  .services-main-title {
    margin-bottom: 0;
  }
  .services-box-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-direction: column;
  }
  .icon-img1 {
    width: 80px;
    height: 80px;
  }
  .icon-img2 {
    width: 80px;
    height: 80px;
  }
  .icon-img3 {
    width: 80px;
    height: 80px;
  }

  /* CTA SECTION */

  .cta-section-container {
    margin-top: 60px;
    height: 500px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-top: 20%;
    background-color: #ffc600;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cta-title {
    font-size: 30px;
    margin-top: 25px;
    margin-left: 35px;
    line-height: 35px;
  }

  .email-bar-container {
    display: flex;
    flex-direction: column;
  }

  .email-bar {
    width: 80%;
    margin-left: 10%;
    height: 80px;
    font-size: 18px;
    padding: 8px 12px 8px 70px;
    border: 1px solid #cccccc;
  }

  .btn-suscribe {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    padding-left: 60px;
    padding-right: 60px;
  }

  .icon-sobre {
    position: absolute;
    background-image: url(./project-assets/newsletter/icon/mail.svg);
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    left: 4%;
    bottom: 63%;
  }

  /* FOOTER SECTION */

  .footer-section {
    margin-top: 17%;
  }
  .footer-logo {
    margin-left: 30%;
  }
  .footer-adress {
    text-align: center;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
  }

  /* ------CONTACT US PAGE STYLE------ */

  .contact-us-container {
    margin-top: 0;
  }
  .contact-title {
    margin-bottom: 40px;
    font-size: 40px;
  }

  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* ------RECENT PROJECTS PAGE STYLE------ */

  .project-web-title {
    font-size: 40px;
  }
  .head-text-flex {
    flex-direction: column;
  }
  .project-web-subtitle {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .date-brother-date {
    margin-top: 0;
  }
  .project-date {
    margin-top: 0;
  }
  .project-main-img {
    margin-top: 12px;
  }

  /* PUÑETERO MENU HAMBURGUESA */
  .nav-container {
    justify-content: space-between;
    padding: 0 30px;
  }
  #contact-us-btn {
    display: none;
  }
  .burger-menu-container {
    display: flex;
  }
  #burger-menu {
    display: none;
  }
  .burger-menu {
    display: block;
    z-index: 0;
    font-weight: bold;
  }
  .web-links-list {
    display: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 8%;
    left: 64%;
    /* IZQ top 10 left 9 */
    background-color: #c8c8c8;
  }
  .nav-web-links {
    max-width: 100%;
    padding: 10px;
    margin-top: 0;
  }

  input:checked ~ ul {
    display: block;
  }
}
