@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');



* {
    box-sizing: border-box;
    
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #F2F4FC;
    /* ESTE WIDTH Y MAREGENES HABRA QUE PONERLOS PARA CADA  SECCION NO EN EL BODY */
    /* max-width: 1100px;
    margin-right: auto;
    margin-left: auto; */
}

h1, h2, h3{
font-weight: bold;
}

header {
margin-top: 70px;

}


.secret{
    /* BORRAR Y PONER BIEN */
}

.nav-container{
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-logo-circle{
    width: 60px;
    height: 18px;
    background-image: url(./project-assets/logos/circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-web-links{
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    color: #6b708d;
    font-size: 17px;
    font-weight: 500;
}

.btn-type{
    padding: 15px 30px;
    text-decoration: none;
    background-color: #072ac8;
    color: white;
}
/* .contact-btn{
    display: inline-block;
    cursor: pointer;
    line-height: inherit;
    border: 0;
} */

.hero-section{
    padding-top: 100px;
}

.hero-container{
    margin-top: 0px;
    padding: 0px 30px;
    display: flex;
    align-items: center;    
    justify-content: space-around;
}

.hero-imgs-container{
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.hero-description-container{
    display: flex;
    flex-direction: column;
}

.hero-description-container div{
    text-align: left;
    font-size: 19px;
    color: #6b708d;
    line-height: 140%;
    margin-bottom: 10%;
}

h1 {
    display: block;
    font-size: 55px;
    color: #292e47;
    line-height: 130%;
}

.hero-img{
    width: 40vw;
}
.cards-img-paycard{
    max-width: 23vw;
    position: absolute;
    left: -20%;
    top: 0%;
}
.cards-img-thumb{
    max-width: 23vw;
    position: absolute;
    bottom: -25%;
    left: 65%;
}
.hero-link{
    color: #6b708d;
    text-decoration: none;
    font-weight: 500;
    font-size: 17px;
    margin-right: 15px;
}


.logos-container{
margin-top: 10%;
padding: 0px 30px;

}

.logos-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.projects-container{
    margin-top: 18%;
    padding:0 30px;
}

.project-imgs{
    max-width: 100%;
    height: 230px;
}
.project-img-especialita{
    max-width: 29vw;
    height: 230px;
    /* ACORDARSE DE VH PARA LAS ALTURAS */
}


.project-section-title{
    font-size: 40px;
    margin-bottom: 5%;
}
.project-box{
    display: flex;
    justify-content: space-evenly;
    
}

.project-minibox{
    background-color: white;
    padding-bottom: 1%;
}

.project-text{
    display: flex;
    flex-direction: column;
    margin: 0 20px 30px 15px;
    font-size: 17px;
    color: #292e47;
    font-weight: 400;
    
}

.project-title{
    margin: 30px 20px 20px 15px;
    color: #292e47;
    font-size: 24px;
    line-height: 115%;
    font-weight: 500;
}

.project-link{
    margin-left: 15px;
    text-decoration: none;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
}

.testimonial-section{
    position: relative;
    margin-top: 200px;
    height: 500px;
    background-color: #292e47;
    background-image: url(./project-assets/testimonial-section/orbit.png);
    background-position: center;
    background-size: contain;
}
/* ACABAR DE MAQUEAR ESTA SECCION */
.profile-photo{
    width: 50px;
    height: 50px;
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(./project-assets/testimonial-section/profile.png);
    border-radius: 50%;
}

.memojis-container{
    display: flex;
    position: relative;
}

.memojis-imgs{
    width: 10%;   
}

.testimonial-info{
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

.section-services-container{
    margin-top: 200px;
    padding: 0 30px;
}

.services-container{
    max-width: 1100px;
    margin-right: auto;
    margin-left: auto;
   
}

.services-main-title{
    font-size: 40px;
    color: #292e47;
}

.services-box-container{
    display: flex;
    justify-content: space-evenly;
}

.services-minibox-container{
    background-color: #fff;
   
    display: flex;
    flex-direction: column;
}

.testimonial-link{
    margin-left: 15px;
    text-decoration: none;
    color: #072ac8;
    font-size: 17px;
    font-weight: 500;
}

.icon-img1{
background-image: url(./project-assets/services-section/icons/1.svg);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ecf7ff;
}

.icon-img2{
    background-image: url(./project-assets/services-section/icons/2.svg);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ecf7ff;
}
.icon-img3{
    background-image: url(./project-assets/services-section/icons/3.svg);
    width: 80%;
    height: 80%;
    border-radius: 50%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-color: #ecf7ff;
}
 
/* AÑADIR MAS CLASES NECESARIAS A SERVICES Y ARREGLAR */


/* SECCION CTA */

.cta-section-container{
    margin-top: 200px;
    width: 1320px;
    height: 500px;
    max-width: 1320px;
    margin-right: auto;
    margin-left: auto;
    background-color: #ffc600;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.cta-container{
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.cta-title{
    font-size: 40px;
    margin-top: 140px;
    line-height: 10px;
}

.cta-text{
    line-height: 0;
    margin-bottom: 60px;
    font-size: 16px;
    color: #6b708d;
}

.cta-suscribe-bar{
    margin-bottom: 110px;
    position: relative;
}
.email-bar-container{
    display: flex;
   
}

.btn-suscribe{
    height: 80px;
    margin-left: 20px;
    padding-left: 60px;
    padding-right: 60px;
    text-decoration: none;
    line-height: inherit;
    background-color: #072ac8;
    color: white;
    border: none;
    font-size: 17px;
    font-family: Roboto;
    cursor: pointer;
}
.email-bar{
    width: 393px;
    height: 80px;
    font-size: 18px;
    padding: 8px 12px 8px 70px;
    border: 1px solid #cccccc;
    
}
.icon-sobre{
    position: absolute;
    background-image: url(./project-assets/newsletter/icon/mail.svg);
    width: 30%;
    height: 30%;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: auto;
    left: -7%;
    bottom: 39%;
}





